In [2]:
import util
from backtesting import Backtest
import pandas_ta as ta
import numpy as np

lista = ['BTCUSDT', 'ETHUSDT', 'BCHUSDT', 'XRPUSDT', 'LTCUSDT', 'ETCUSDT', 'LINKUSDT', 'ADAUSDT', 'BNBUSDT', 'DOGEUSDT', 'DOTUSDT', 
         'SOLUSDT', 'AVAXUSDT', 'NEARUSDT', 'FILUSDT', 'MATICUSDT', 'OPUSDT', 'FETUSDT', 'AGIXUSDT', 'ARBUSDT',  
         'SLPUSDT', 'MEMEUSDT',  '1000SATSUSDT', 'PIXELUSDT']
#lista=['ETHUSDT']

suma=0.0
trades = 0

for symbol in lista:
    data=util.obtiene_historial(symbol,'1h')    
    data['ema100']=ta.ema(data.Close, length=100)
    data['ema200']=ta.ema(data.Close, length=200)
    ##    obligatorios    
    porcentaje_perdida = 1
    data['trade'] = np.where(util.crossover_dataframe(data.ema100, data.ema200),1,np.where(util.crossover_dataframe(data.ema200, data.ema100),-1,0))
    data['stop_loss'] = np.where(data.trade==1,data.ema200,np.where(data.trade==-1,data.ema200,0))
    data['take_profit'] = np.where(data.trade==1,data.Close+(data.Close-data.ema200)*3,np.where(data.trade==-1,data.Close-(data.ema200-data.Close)*3,0))   
    variacion_hasta_stop_loss = abs(((data.stop_loss/data.Close)-1)*100)
    data['porcentajeentrada'] = np.where(((porcentaje_perdida/variacion_hasta_stop_loss))>1,1,((porcentaje_perdida/variacion_hasta_stop_loss)))
    ##
    bt = Backtest(data,util.backtesting_config,cash=1000000,exclusive_orders=True)
    output = bt.run()
    if len(lista)==1:
        bt.plot(filename="graficos/"+symbol)
    print(f"Symbol: {symbol} - Return [%]: {round(output['Return [%]'],2)} - # Trades: {output['# Trades']}")
    suma=suma+output['Return [%]']
    trades=trades+output['# Trades']
print(f"Suma total: {suma} - Trades total: {trades}")

Symbol: BTCUSDT - Return [%]: -0.53 - # Trades: 4
Symbol: ETHUSDT - Return [%]: -0.99 - # Trades: 1
Symbol: BCHUSDT - Return [%]: 4.52 - # Trades: 4
Symbol: XRPUSDT - Return [%]: -2.36 - # Trades: 4
Symbol: LTCUSDT - Return [%]: 1.36 - # Trades: 5
Symbol: ETCUSDT - Return [%]: -0.69 - # Trades: 2
Symbol: LINKUSDT - Return [%]: -0.82 - # Trades: 2
Symbol: ADAUSDT - Return [%]: 6.1 - # Trades: 2
Symbol: BNBUSDT - Return [%]: 1.97 - # Trades: 2
Symbol: DOGEUSDT - Return [%]: 2.55 - # Trades: 2
Symbol: DOTUSDT - Return [%]: 2.9 - # Trades: 2
Symbol: SOLUSDT - Return [%]: 3.0 - # Trades: 1
Symbol: AVAXUSDT - Return [%]: 1.97 - # Trades: 2
Symbol: NEARUSDT - Return [%]: -1.06 - # Trades: 2
Symbol: FILUSDT - Return [%]: -0.04 - # Trades: 4
Symbol: MATICUSDT - Return [%]: 6.09 - # Trades: 2
Symbol: OPUSDT - Return [%]: 1.97 - # Trades: 2
Symbol: FETUSDT - Return [%]: 6.09 - # Trades: 2
Symbol: AGIXUSDT - Return [%]: 0.0 - # Trades: 0
Symbol: ARBUSDT - Return [%]: 0.96 - # Trades: 3
Symbol: SLPUSDT - Return [%]: 0.0 - # Trades: 0
Symbol: MEMEUSDT - Return [%]: -1.3 - # Trades: 2
Symbol: 1000SATSUSDT - Return [%]: 6.09 - # Trades: 2
Symbol: PIXELUSDT - Return [%]: 2.52 - # Trades: 2
Suma total: 40.28840382755146 - Trades total: 54

In [2]:
data

,Open Time,Open,High,Low,Close,Volume,atr,ema100,ema200,trade,stop_loss,take_profit,porcentajeentrada
2024-07-12 00:00:00,2024-07-12 00:00:00,3098.24,3116.92,3088.00,3092.19,79643.976,NaN,NaN,NaN,0,0.0,0.0,1.0
2024-07-12 01:00:00,2024-07-12 01:00:00,3092.19,3105.31,3053.84,3087.03,169254.855,NaN,NaN,NaN,0,0.0,0.0,1.0
2024-07-12 02:00:00,2024-07-12 02:00:00,3087.03,3108.98,3084.05,3106.00,73091.806,NaN,NaN,NaN,0,0.0,0.0,1.0
2024-07-12 03:00:00,2024-07-12 03:00:00,3106.00,3107.43,3080.08,3084.08,49893.519,NaN,NaN,NaN,0,0.0,0.0,1.0
2024-07-12 04:00:00,2024-07-12 04:00:00,3084.07,3088.98,3063.30,3082.21,64568.117,NaN,NaN,NaN,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-22 11:00:00,2024-08-22 11:00:00,2639.67,2642.66,2630.60,2640.42,53600.268,19.348301,2616.787717,2623.859179,0,0.0,0.0,1.0
2024-08-22 12:00:00,2024-08-22 12:00:00,2640.42,2643.87,2620.63,2624.22,97096.812,19.626280,2616.934891,2623.862769,0,0.0,0.0,1.0
2024-08-22 13:00:00,2024-08-22 13:00:00,2624.21,2628.88,2608.51,2619.23,122553.399,19.679403,2616.980338,2623.816672,0,0.0,0.0,1.0
2024-08-22 14:00:00,2024-08-22 14:00:00,2619.24,2620.00,2598.00,2600.46,154750.282,19.845159,2616.653203,2623.584267,0,0.0,0.0,1.0
2024-08-22 15:00:00,2024-08-22 15:00:00,2600.46,2611.84,2599.01,2608.76,19314.055,19.344077,2616.496902,2623.436762,0,0.0,0.0,1.0