In [1]:
import util
from backtesting import Backtest, Strategy
from backtesting.lib import crossover
import pandas_ta as ta

class IndiCross(Strategy):
    def init(self):
        self.Close = self.I(util.indicador, data.Close,   name="Close", color="black")
        self.columna1 = self.I(util.indicador, ta.ema(data.Close, length=100),  name="columna1", color="red")
        self.columna2 = self.I(util.indicador, ta.ema(data.Close, length=200),  name="columna2", color="orange")
        self.columna3 = self.I(util.indicador, ta.sma(data.Close, length=30),   name="columna3", color="blue") 
        self.distancia_close_col3 = self.I(util.indicador, abs(data.Close - ta.sma(data.Close, length=30)),   name="columna3", color="grey")         
    def next(self):
        if crossover(self.columna1, self.columna2):
            self.buy (#size = 1000, 
                      #sl = self.columna3, tp = self.Close+self.distancia_close_col3*3
                      )
        elif crossover(self.columna2, self.columna1):
            self.sell(#size = 1000, 
                      #sl = self.columna3, tp = self.Close-self.distancia_close_col3*3
                      )

lista = ['BTCUSDT', 'ETHUSDT', 'BCHUSDT', 'XRPUSDT', 'LTCUSDT', 'ETCUSDT', 'LINKUSDT', 'ADAUSDT', 'BNBUSDT', 'DOGEUSDT', 'DOTUSDT', 
         'SOLUSDT', 'AVAXUSDT', 'NEARUSDT', 'FILUSDT', 'MATICUSDT', 'OPUSDT', 'FETUSDT', 'AGIXUSDT', 'ARBUSDT',  
         'SLPUSDT', 'MEMEUSDT',  '1000SATSUSDT', 'PIXELUSDT']
lista=['ETHUSDT']
timeframe='1h'
suma=0.0
for symbol in lista:
    data=util.obtiene_historial(symbol,timeframe)
    bt = Backtest(data,IndiCross,cash=100000,exclusive_orders=True)
    output = bt.run()
    if len(lista)==1:
        bt.plot(filename="graficos/"+symbol)
    print(f"Symbol: {symbol} - Return [%]: {round(output['Return [%]'],2)}")
    suma=suma+output['Return [%]']
suma

Symbol: ETHUSDT - Return [%]: 15.6

15.602299999999989

In [33]:
data

,Open Time,Open,High,Low,Close,Volume,ema20,ema50,ema200,sma200,atr,distancia
2024-07-08 01:00:00,2024-07-08 01:00:00,0.4105,0.4110,0.4028,0.4102,115485966.7,NaN,NaN,NaN,NaN,NaN,NaN
2024-07-08 02:00:00,2024-07-08 02:00:00,0.4103,0.4164,0.4090,0.4148,63346494.3,NaN,NaN,NaN,NaN,NaN,NaN
2024-07-08 03:00:00,2024-07-08 03:00:00,0.4148,0.4167,0.4121,0.4143,37847269.5,NaN,NaN,NaN,NaN,NaN,NaN
2024-07-08 04:00:00,2024-07-08 04:00:00,0.4143,0.4195,0.4133,0.4187,48961614.1,NaN,NaN,NaN,NaN,NaN,NaN
2024-07-08 05:00:00,2024-07-08 05:00:00,0.4188,0.4207,0.4182,0.4202,27645391.2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-18 12:00:00,2024-08-18 12:00:00,0.5676,0.5844,0.5671,0.5733,126948211.3,0.566774,0.566076,0.567928,0.571011,0.003683,0.007063
2024-08-18 13:00:00,2024-08-18 13:00:00,0.5733,0.5746,0.5697,0.5712,49730947.2,0.567196,0.566277,0.567960,0.570945,0.003769,0.004740
2024-08-18 14:00:00,2024-08-18 14:00:00,0.5712,0.5723,0.5698,0.5713,14551937.4,0.567587,0.566474,0.567994,0.570861,0.003679,0.004597
2024-08-18 15:00:00,2024-08-18 15:00:00,0.5713,0.5737,0.5708,0.5732,12935637.7,0.568121,0.566738,0.568045,0.570797,0.003623,0.006170
2024-08-18 16:00:00,2024-08-18 16:00:00,0.5732,0.5745,0.5726,0.5742,7723527.4,0.568700,0.567031,0.568107,0.570735,0.003500,0.006793