In [1]:
import modulos as md
import numpy as np
import constantes as cons
import os
import sys
lista_filtrada = []

#lista=md.lista_de_monedas()
lista=md.filtradodemonedas ()
#lista=['LINKUSDT', 'LTCUSDT', 'BCHUSDT', 'WLDUSDT', 'IDUSDT', 'HBARUSDT', 'API3USDT', 'BNBUSDT', 'C98USDT', '1000SHIBUSDT', 'STXUSDT', 'LPTUSDT', 'XLMUSDT', 'CRVUSDT', 'MKRUSDT', 'ALGOUSDT', 'HIGHUSDT', 'COMPUSDT', 'DOGEUSDT', 'XRPUSDT', 'OPUSDT', 'ARBUSDT', 'AUDIOUSDT', '1000PEPEUSDT', 'MATICUSDT', 'APEUSDT', 'SOLUSDT', 'TOMOUSDT', 'EOSUSDT', 'ADAUSDT', 'SUIUSDT', 'YGGUSDT', 'DODOXUSDT']
#lista=['STGUSDT']

for symbol in lista:    
    try:
        data,porcentajeentrada = md.estrategia_santa(symbol,tp_flag = True)
        #data = md.estrategia_triangulos(symbol, tp_flag = True, print_lines_flag = True)
        #data,porcentajeentrada = md.estrategia_adrian(symbol,tp_flag = False)
        #######################################################################
        #resultado = md.backtesting(data, plot_flag = True)
        resultado = md.backtestingsanta(data, plot_flag = False,debug = True)
        #if resultado['Return [%]'] < 0: # para santa3 mazmorra
        if resultado['Return [%]'] > 0:
            #if ((resultado['Profit Factor'] > 2 or np.isnan(resultado['Profit Factor'])) and (resultado['Return [%]']/resultado['# Trades']) >=0.33):            
                lista_filtrada.append(symbol)
        print(f"{symbol} - Return [%]: {md.truncate(resultado['Return [%]'],2)}% - # Trades: {resultado['# Trades']} - Profit Factor: {resultado['Profit Factor']} - Win Rate [%]: {resultado['Win Rate [%]']}")
    except Exception as falla:
        _, _, exc_tb = sys.exc_info()
        fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
        print("\nError: "+str(falla)+" - line: "+str(exc_tb.tb_lineno)+" - file: "+str(fname)+"\n")
for symbol in lista_filtrada:
    md.printandlog(cons.nombrelog,symbol,pal=1)
#md.dibuja_patrones_triangulos (data,998)

C:\Users\Luis Gomez Freites\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Error: 'quoteVolume' - line: 412 - file: modulos.py - par: SRMUSDT


Error: 'quoteVolume' - line: 412 - file: modulos.py - par: CVCUSDT


Error: 'quoteVolume' - line: 412 - file: modulos.py - par: FTTUSDT


Error: 'quoteVolume' - line: 412 - file: modulos.py - par: BTCSTUSDT


Error: 'quoteVolume' - line: 412 - file: modulos.py - par: BTSUSDT


Error: 'quoteVolume' - line: 412 - file: modulos.py - par: HNTUSDT


Error: 'quoteVolume' - line: 412 - file: modulos.py - par: SCUSDT


Error: 'quoteVolume' - line: 412 - file: modulos.py - par: RAYUSDT

STGUSDT - Return [%]: -1.55% - # Trades: 11 - Profit Factor: 0.3225586825141166 - Win Rate [%]: 45.45454545454545

In [5]:
data,porcentajeentrada = md.estrategia_santa(symbol,tp_flag = True)

In [8]:
data

,Open Time,Open,High,Low,Close,Volume,ema20,ema50,ema200,atr,n_atr,sma20,ema21,maximo,minimo,signal,take_profit,stop_loss,cierra
2023-07-31 10:30:00,2023-07-31 10:30:00,0.989,0.989,0.987,0.987,777.56,NaN,NaN,NaN,NaN,50,NaN,NaN,0.989,0.987,0,NaN,0.00000,False
2023-07-31 10:45:00,2023-07-31 10:45:00,0.986,0.987,0.986,0.986,444.02,NaN,NaN,NaN,NaN,50,NaN,NaN,0.987,0.986,0,NaN,0.00000,False
2023-07-31 11:00:00,2023-07-31 11:00:00,0.986,0.988,0.985,0.988,6681.68,NaN,NaN,NaN,NaN,50,NaN,NaN,0.988,0.985,0,NaN,0.00000,False
2023-07-31 11:15:00,2023-07-31 11:15:00,0.988,0.989,0.987,0.987,3908.40,NaN,NaN,NaN,NaN,50,NaN,NaN,0.989,0.987,0,NaN,0.00000,False
2023-07-31 11:30:00,2023-07-31 11:30:00,0.987,0.990,0.987,0.988,2821.08,NaN,NaN,NaN,NaN,50,NaN,NaN,0.990,0.987,0,NaN,0.00000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-10 19:15:00,2023-08-10 19:15:00,1.051,1.052,1.049,1.049,2352.72,1.050988,1.056194,1.072994,0.003841,50,1.05080,1.051153,1.052,1.049,-1,NaN,1.18537,False
2023-08-10 19:30:00,2023-08-10 19:30:00,1.048,1.049,1.047,1.047,19865.15,1.050609,1.055833,1.072736,0.003710,50,1.05050,1.050775,1.049,1.047,-1,NaN,1.18311,False
2023-08-10 19:45:00,2023-08-10 19:45:00,1.047,1.049,1.047,1.049,2695.88,1.050455,1.055565,1.072499,0.003588,50,1.05040,1.050614,1.049,1.047,-1,NaN,1.18537,False
2023-08-10 20:00:00,2023-08-10 20:00:00,1.047,1.053,1.047,1.053,2418.25,1.050698,1.055465,1.072305,0.003760,50,1.05035,1.050831,1.053,1.047,-1,NaN,1.18989,False
2023-08-10 20:15:00,2023-08-10 20:15:00,1.054,1.054,1.054,1.054,430.20,1.051012,1.055407,1.072123,0.003563,50,1.05030,1.051119,1.054,1.054,1,NaN,0.91698,False

In [ ]:
md.dibuja_patrones_triangulos (data,998)