In [4]:
import modulos as md
import numpy as np
import constantes as cons
import os
import sys
lista_filtrada = []

lista=md.lista_de_monedas()
#lista=md.filtradodemonedas ()
#lista=['SPELLUSDT', 'AXSUSDT', 'ETHUSDT', 'BNBUSDT', 'OGNUSDT', 'CYBERUSDT', '1000PEPEUSDT', 'COMPUSDT', 'ADAUSDT', 'BCHUSDT', 'RUNEUSDT', 'MATICUSDT', 'BLZUSDT', 'HBARUSDT', 'TRBUSDT', 'WLDUSDT', 'MTLUSDT', 'BTCUSDT', 'XRPUSDT', 'OPUSDT', 'PERPUSDT', 'ARBUSDT', 'STMXUSDT', 'CFXUSDT', 'SOLUSDT', 'DOGEUSDT', 'APEUSDT', 'UNFIUSDT', 'LTCUSDT', 'STORJUSDT', 'CRVUSDT']
#lista=['STMXUSDT']

if len(lista)>1:
    imprimo=False
    debug=False
else:
    imprimo= True
    debug=True
for symbol in lista:    
    try:
        #data,porcentajeentrada = md.estrategia_santa(symbol,tp_flag = True)
        #data,porcentajeentrada = md.estrategia_trampa(symbol,tp_flag = True)
        data = md.estrategia_haz(symbol, debug=debug)
        #data,porcentajeentrada = md.estrategia_oro('XAU',tp_flag = True)
        #######################################################################
        resultado = md.backtesting(data, plot_flag = imprimo)
        #resultado = md.backtestingsanta(data, plot_flag = imprimo, debug = True)
        ########################################################################
        #if resultado['Return [%]'] < 0: # para santa3 mazmorra
        #if data.disparo.iloc[-1]!=0: # imprime las monedas que estan en posible haz martillo
        #        print(symbol)
        if resultado['Return [%]'] > 0:
            #if ((resultado['Profit Factor'] > 2 or np.isnan(resultado['Profit Factor'])) and (resultado['Return [%]']/resultado['# Trades']) >=0.33):            
                lista_filtrada.append(symbol)
        print(f"{symbol} - Return [%]: {md.truncate(resultado['Return [%]'],2)}% - # Trades: {resultado['# Trades']} - Profit Factor: {resultado['Profit Factor']} - Win Rate [%]: {resultado['Win Rate [%]']}")
    except Exception as falla:
        _, _, exc_tb = sys.exc_info()
        fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
        print("\nError: "+str(falla)+" - line: "+str(exc_tb.tb_lineno)+" - file: "+str(fname)+"\n")
        pass
for symbol in lista_filtrada:
    md.printandlog(cons.nombrelog,symbol,pal=1)
#md.dibuja_patrones_triangulos (data,998)

Error al obtener la lista de monedas...

In [1]:
import modulos as md
import numpy as np
import os
import sys
import constantes as cons
lista_filtrada = []
lista=['BTCUSDT', 'ETHUSDT', 'BCHUSDT', 'XRPUSDT', 'LTCUSDT', 'LINKUSDT', 'BNBUSDT', 'KNCUSDT', 'DOGEUSDT', 'MKRUSDT', 'CRVUSDT', 'TRBUSDT', 'SOLUSDT', 'STORJUSDT', 'BLZUSDT', 'STMXUSDT', 'OPUSDT', 'LUNA2USDT', 'APTUSDT', 'ARBUSDT', 'AMBUSDT', 'LEVERUSDT', '1000PEPEUSDT', 'WLDUSDT', 'FRONTUSDT', 'GLMRUSDT']
lista=['BTCUSDT']

if len(lista)>1:
    imprimo=False
    debug=False
else:
    imprimo= True
    debug=True
for symbol in lista:    
    try:
        data = md.estrategia_royal(symbol)
        resultado=md.backtesting_royal(data, plot_flag=imprimo)
        if not np.isnan(data.decisional_bajista_high.iloc[-2]) or not np.isnan(data.decisional_alcista_high.iloc[-2]):
            print(symbol)
            lista_filtrada.append(symbol)
            #print(f"{symbol} - Return [%]: {md.truncate(resultado['Return [%]'],2)}% - # Trades: {resultado['# Trades']} - Profit Factor: {resultado['Profit Factor']} - Win Rate [%]: {resultado['Win Rate [%]']}")
    except Exception as falla:
        _, _, exc_tb = sys.exc_info()
        fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
        print("\nError: "+str(falla)+" - line: "+str(exc_tb.tb_lineno)+" - file: "+str(fname)+"\n")
        pass
for symbol in lista_filtrada:
    md.printandlog(cons.nombrelog,symbol,pal=1)

c:\LUCHO\personal\repopersonal\luchocrypto\FENIX\modulos.py:1178: UserWarning: Some prices are larger than initial cash value. Note that fractional trading is not supported. If you want to trade Bitcoin, increase initial cash, or trade Î¼BTC or satoshis instead (GH-134).
  bt = Backtest(data, Fenix, cash=balance)
BokehDeprecationWarning: Passing lists of formats for DatetimeTickFormatter scales was deprecated in Bokeh 3.0. Configure a single string format for each scale
C:\Users\Luis Gomez Freites\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\backtesting\_plotting.py:250: UserWarning: DatetimeFormatter scales now only accept a single format. Using the first provided: '%d %b'
  formatter=DatetimeTickFormatter(days=['%d %b', '%a %d'],
BokehDeprecationWarning: Passing lists of formats for DatetimeTickFormatter scales was deprecated in Bokeh 3.0. Configure a single string format for each scale
C:\Users\Luis Gomez Freites\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\backtesting\_plotting.py:250: UserWarning: DatetimeFormatter scales now only accept a single format. Using the first provided: '%m/%Y'
  formatter=DatetimeTickFormatter(days=['%d %b', '%a %d'],

BTCUSDT

In [1]:
import modulos as md

data_forex =md.myfxbook_file_historico()
data_forex

,Open Time,Open,High,Low,Close,Volume,ema20,ema50,ema200,atr
timestamp,,,,,,,,,,
2023-09-19 11:00:00,2023-09-19 11:00:00,1935.23,1935.89,1935.23,1935.25,1.0,NaN,NaN,NaN,NaN
2023-09-19 11:15:00,2023-09-19 11:15:00,1935.64,1935.70,1935.14,1935.70,1.0,NaN,NaN,NaN,NaN
2023-09-19 11:30:00,2023-09-19 11:30:00,1935.55,1935.94,1934.20,1935.19,1.0,NaN,NaN,NaN,NaN
2023-09-19 11:45:00,2023-09-19 11:45:00,1935.12,1935.21,1934.64,1935.21,1.0,NaN,NaN,NaN,NaN
2023-09-19 12:00:00,2023-09-19 12:00:00,1935.12,1936.80,1935.12,1936.80,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-09-28 23:00:00,2023-09-28 23:00:00,1864.18,1864.97,1863.00,1864.87,1.0,1865.357076,1867.729668,1881.187931,1.559209
2023-09-28 23:15:00,2023-09-28 23:15:00,1864.98,1865.64,1863.80,1865.64,1.0,1865.384021,1867.647720,1881.033225,1.579266
2023-09-28 23:30:00,2023-09-28 23:30:00,1865.51,1865.99,1865.10,1865.89,1.0,1865.432210,1867.578790,1880.882546,1.530032
2023-09-28 23:45:00,2023-09-28 23:45:00,1865.60,1866.65,1865.50,1866.58,1.0,1865.541523,1867.539622,1880.740233,1.502887
2023-09-29 00:00:00,2023-09-29 00:00:00,1866.56,1866.87,1866.00,1866.06,1.0,1865.590902,1867.481598,1880.594161,1.457681

In [3]:
data=md.obtiene_historial("BTCUSDT",'15m')
data

,Open Time,Open,High,Low,Close,Volume,ema20,ema50,ema200,atr
timestamp,,,,,,,,,,
2023-09-21 08:15:00,2023-09-21 08:15:00,27006.0,27006.0,26942.1,26959.3,2403.977,NaN,NaN,NaN,NaN
2023-09-21 08:30:00,2023-09-21 08:30:00,26959.3,26968.0,26921.0,26968.0,2764.826,NaN,NaN,NaN,NaN
2023-09-21 08:45:00,2023-09-21 08:45:00,26968.0,26986.0,26893.0,26916.7,4866.902,NaN,NaN,NaN,NaN
2023-09-21 09:00:00,2023-09-21 09:00:00,26916.6,26932.0,26881.2,26919.8,4095.914,NaN,NaN,NaN,NaN
2023-09-21 09:15:00,2023-09-21 09:15:00,26919.8,26919.9,26808.8,26810.6,8503.815,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-10-01 17:00:00,2023-10-01 17:00:00,27099.9,27129.2,27095.9,27125.8,1217.465,27132.383455,27119.421720,27002.655644,41.294843
2023-10-01 17:15:00,2023-10-01 17:15:00,27125.9,27129.0,27091.3,27110.0,832.283,27130.251698,27119.052240,27003.723747,41.038069
2023-10-01 17:30:00,2023-10-01 17:30:00,27110.1,27116.1,27060.6,27069.5,2022.524,27124.465822,27117.109015,27004.378237,42.071064
2023-10-01 17:45:00,2023-10-01 17:45:00,27069.5,27083.0,27021.4,27061.8,3872.054,27118.497648,27114.940034,27004.949598,43.465988
2023-10-01 18:00:00,2023-10-01 18:00:00,27061.7,27086.8,27050.5,27080.3,1188.132,27114.859777,27113.581602,27005.699353,42.954132